* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	width: 100%;
}
.body {
	padding: 4rem;
	/* background-color: rgb(167, 241, 248); */
	background-image: linear-gradient(
		to right,
		rgb(167, 241, 248),
		rgb(8, 4, 90)
	);
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	/* flex-wrap: wrap; */
}
.posts {
	width: 55%;
}
.new-post {
	width: 40%;
}
